.container{
    width: 60%;
    max-width: 720px;
    margin: 2rem auto;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    background-color: rgb(244, 250, 239);
    padding: 2rem;
    border-radius: 3rem;
}

label{
    display: inline-block;
    margin-bottom: 0.1rem;
    font-weight: 400;
}

#select{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form div{
    margin-bottom: 1rem;
    font-size: large;
    font-weight: 600;
}

form div select{
    padding: 0.5rem;
    width: 100%;
}

form div input{
    padding: 0.5rem;
    width: 96%;
}

.radioButton{
    display: flex;
    justify-content: space-between;
}

input[type=submit]{
    background-color: rgb(154, 223, 223);
    border-radius: 1rem;
    font-size: large;
    font-weight: 500;

}

#message{
    text-align: center;
    color: red;
    font-size: large;
}